import(jaspBase)
export(LDgaussianunivariate)
export(LDt)
export(LDf)
export(LDchisq)
export(LDbeta)
export(LDbetaStretched)
export(LDgamma)
export(LDgammaInverse)
export(LDexponential)
export(LDlognormal)
export(LDlogistic)
export(LDbernoulli)
export(LDbinomial)
export(LDnegbinomial)
export(LDpoisson)
export(LDweibull)
export(LDhypergeometric)
export(LDnormalGeneralized)
export(LDtSkewedGeneralized)
