import(jaspBase)
export(LDgaussianunivariate)
export(LDtStudent)
export(LDtNoncentral)
export(LDtSkewedGeneralized)
export(LDtSkew)
export(LDf)
export(LDchisq)
export(LDbeta)
export(LDbetaStretched)
export(LDbetaPrime)
export(LDgamma)
export(LDgammaInverse)
export(LDexponential)
export(LDlognormal)
export(LDlogistic)
export(LDlogLogistic)
export(LDbernoulli)
export(LDbinomial)
export(LDnegbinomial)
export(LDnegbinomialZeroInflated)
export(LDpoisson)
export(LDpoissonZeroInflated)
export(LDweibull)
export(LDgeometric)
export(LDhypergeometric)
export(LDnormalGeneralized)
export(LDnormalSkew)
export(LDlaplace)
export(LDamoroso)
export(LDcauchy)
export(LDtriangular)
export(LDbetaBinomial)
export(LDpareto)
export(LDwald)
export(LDfrechet)
export(LDgumbel)
export(LDgompertz)
export(LDuniform)
export(LDmixtureNormalNormal)
export(LDmixtureNormalUniform)
export(LDgaussianunivariateInternal)
export(LDtStudentInternal)
export(LDtNoncentralInternal)
export(LDtSkewedGeneralizedInternal)
export(LDtSkewInternal)
export(LDfInternal)
export(LDchisqInternal)
export(LDbetaInternal)
export(LDbetaStretchedInternal)
export(LDbetaPrimeInternal)
export(LDgammaInternal)
export(LDgammaInverseInternal)
export(LDexponentialInternal)
export(LDlognormalInternal)
export(LDlogisticInternal)
export(LDlogLogisticInternal)
export(LDbernoulliInternal)
export(LDbinomialInternal)
export(LDnegbinomialInternal)
export(LDnegbinomialZeroInflatedInternal)
export(LDpoissonInternal)
export(LDpoissonZeroInflatedInternal)
export(LDweibullInternal)
export(LDgeometricInternal)
export(LDhypergeometricInternal)
export(LDnormalGeneralizedInternal)
export(LDnormalSkewInternal)
export(LDlaplaceInternal)
export(LDamorosoInternal)
export(LDcauchyInternal)
export(LDtriangularInternal)
export(LDbetaBinomialInternal)
export(LDparetoInternal)
export(LDwaldInternal)
export(LDfrechetInternal)
export(LDgumbelInternal)
export(LDgompertzInternal)
export(LDuniformInternal)
export(LDmixtureNormalNormalInternal)
export(LDmixtureNormalUniformInternal)
export(compareContinuousDistributionsInternal)
export(compareContinuousDistributions)
